<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-header">
	<div class="palm-header-wrapper">
		Release Notes
	</div>
</div>
<div class="palm-header-spacer"></div>

<div class="palm-body-text">
	<strong>grpn 1.1.0</strong> (released 12/30/2010)
		<ul>
			<li>New Feature: Added 'Release Notes' menu item to help users track application changes.</li>
			<li>Bug Fix: 'View Map' button should now work correctly.</li>
			<li>Enhancement: Toggling favorites now gives some extra context about how to 'unfavorite' the item</li>
		</ul>
	<strong>grpn 1.0.0</strong> (released 10/1/2010)
	<ul>
		<li>Initial Release</li>
	</ul>
</div>
