<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-header">
	<div class="palm-header-wrapper">
		Release Notes
	</div>
</div>
<div class="palm-header-spacer"></div>

<div class="palm-body-text">
	<strong>grpn 1.2.0</strong> (1/9/2010)
		<ul>
			<li><b>Feature</b>: Added 'Share' option to the deal details screen. This button is located in the 
				bottom left corner of the screen, by tapping it you will be able to share the Groupon
				via email or text message. Sharing via other applications such as twitter/facebook are in the works.
			</li>
			<li><b>Enhancement</b>: The 'Discussion' button has been made smaller and moved into the lower right corner
				of the deal details screen. This should make the overall screen feel less cluttered.</li>
			<li><b>Bug Fix</b>: The text describing number of Groupons sold for a given deal now properly reflects
				if more need to be bought to get the deal, if the deal is on, or if the deal is sold out.
			<li><b>Bug Fix</b>: Date processing has been enhanced with extDate.js library.</li>
		</ul>
	
	<strong>grpn 1.1.0</strong> (released 1/1/2011)
		<ul>
			<li><b>Feature</b>: Added 'Discussion' option to the deal details screen. Tapping this button allows you
				to view user generated discussion regarding the deal.</li>
			<li><b>Feature</b>: Added 'Groupon Says...' feature. This screen allows you to randomly read some of
				the tidbits of information Groupon provides regarding a variety of subjects. Accessible via the 
				application menu.
			<li><b>Feature</b>: Added 'Release Notes' menu item to help users track application changes. Accessible via
				the applications menu.</li>
			<li><b>Enhancement</b>: Added the number of Groupons sold for each deal, placed next to the "Discussion" button.</li>
			<li><b>Enhancement:</b> Toggling favorites now gives some extra context about how to 'unfavorite' the item</li>
			<li><b>Bug Fix:</b> 'View Map' button should now work correctly.</li>
			
		</ul>
	<strong>grpn 1.0.0</strong> (released 10/21/2010)
	<ul>
		<li>Initial Release</li>
	</ul>
</div>
