<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-header">
	<div class="palm-header-wrapper">
		Release Notes
	</div>
</div>
<div class="palm-header-spacer"></div>

<div class="palm-body-text">
	<strong>grpn 1.1.0</strong> (released 1/1/2011)
		<ul>
			<li><b>Feature</b>: Added 'Discussion' option to the deal details screen. Tapping this button allows you
				to view user generated discussion regarding the deal.</li>
			<li><b>Feature</b>: Added 'Groupon Says...' feature. This screen allows you to randomly read some of
				the tidbits of information Groupon provides regarding a variety of subjects. Accessible via the 
				application menu.
			<li><b>Feature</b>: Added 'Release Notes' menu item to help users track application changes. Accessible via
				the applications menu.</li>
			<li><b>Enhancement</b>: Added the number of Groupons sold for each deal, placed next to the "Discussion" button.</li>
			<li><b>Enhancement:</b> Toggling favorites now gives some extra context about how to 'unfavorite' the item</li>
			<li><b>Bug Fix:</b> 'View Map' button should now work correctly.</li>
			
		</ul>
	<strong>grpn 1.0.0</strong> (released 10/21/2010)
	<ul>
		<li>Initial Release</li>
	</ul>
</div>
