<div class="palm-body-text blurb"id="dealTitle">	

</div>

<div class="palm-body-text">	
<table width=100%>
	<tbody>
		<tr>
			<td width="150px">
				<img src="" width="150px" id="dealImage" class="thumbnail" />
			</td>
			<td align=center>
				<div style="text-align:center;">
					Time left to buy<br/>
					<span id="daysLeft"></span>d <span id="hoursLeft"></span>h <span id="minutesLeft"></span>m<br/>
					<div id="buyButton" class="palm-button affirmative" style="width: 100px; margin-left: auto; margin-right: auto;">Buy!</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="palm-body-text blurb">	
	<table width=100% style='font-size: 13px;'>
		<tbody>
			<tr>
				<td rowspan="2" align=center valign=middle>	
					<span style="font-size: 30px; font-weight: bold;" id="priceAmount"></span>
				</td>
				<th>Value</th><th>Discount</th><th>Savings</th>
			</tr>
			<tr>
				<td><span id="valueAmount"></span></td>
				<td><span id="discountPercent"></span></td>
				<td><span id="savingsAmount"></span></td>
			</tr>
		</tbody>
	</table>
</div>


<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
	<tbody>
		<tr>
			<td class="left"></td>
			<td class="label">Highlights</td>
			<td class="line" width="100%"></td>
			<td><div class="palm-arrow-expanded arrow_button" id="highlightsArrow"></div></td>
			<td class="right"></td>
		</tr>
	</tbody>
</table>
<div id='highlightsDrawer' x-mojo-element="Drawer">
	<div class="palm-body-text" id="highlightsDrawerContent">
		PLACEHOLDER
	</div>
</div>


<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
	<tbody>
		<tr>
			<td class="left"></td>
			<td class="label">Description</td>
			<td class="line" width="100%"></td>
			<td><div class="palm-arrow-closed arrow_button" id="descriptionArrow"></div></td>
			<td class="right"></td>
		</tr>
	</tbody>
</table>
<div id='descriptionDrawer' x-mojo-element="Drawer">
	<div class="palm-body-text" id='descriptionDrawerContent'>
	</div>
</div>

<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
	<tbody>
		<tr>
			<td class="left"></td>
			<td class="label">Details</td>
			<td class="line" width="100%"></td>
			<td><div class="palm-arrow-closed arrow_button" id="detailsArrow"></div></td>
			<td class="right"></td>
		</tr>
	</tbody>
</table>
<div id='detailsDrawer' x-mojo-element="Drawer">
	<div class="palm-body-text" id="detailsDrawerContent">
		PLACEHOLDER
	</div>
</div>

<table class="palm-divider collapsible" x-mojo-touch-feedback="delayed">
	<tbody>
		<tr>
			<td class="left"></td>
			<td class="label">Locations</td>
			<td class="line" width="100%"></td>
			<td><div class="palm-arrow-closed arrow_button" id="locationsArrow"></div></td>
			<td class="right"></td>
		</tr>
	</tbody>
</table>

<div id='locationsDrawer' x-mojo-element="Drawer">
	<div x-mojo-element="Scroller" id="locationsScroller">
		<div id="scrollerContainer" class="palm-body-text">
		</div>
	</div>
	<div x-mojo-element="Button" id="viewMapButton"></div>
</div>

<div id="myScrim">
  <div id="mySpinner" x-mojo-element="Spinner"></div>
</div>
			
